<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Local</th>
      <th>Address</th>
      <th>Occurred at</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @events.each do |event| %>
    <tr>
      <td><%= event.name %></td>
      <td><%= event.local %></td>
      <td><%= event.address %></td>
      <td><%= event.occurred_at %></td>
      <td></td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New event', new_admin_event_path %>
