<%= content_for :header do %>
  <div class="container">
    <div class="page-header">
      <h1><%= t '.title' %></h1>
      <small><%= t '.subtitle' %></small>

      <%= link_to new_admin_event_path, class: 'btn-add' do %>
        <%= fa_icon 'plus', text: t('.new') %>
      <% end %>
    </div>
  </div>
<% end %>

<table class='table table-striped table-hover'>
  <thead>
    <tr>
      <th><%= t '.name' %></th>
      <th><%= t '.local' %></th>
      <th><%= t '.address' %></th>
      <th><%= t '.occurred_at' %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @events.each do |event| %>
    <tr>
      <td><%= event.name %></td>
      <td><%= event.local %></td>
      <td><%= event.address %></td>
      <td><%= event.occurred_at %></td>
      <td>
        <%= link_to edit_admin_event_path(event), title: t('.edit'), class: 'btn-edit' do %>
          <%= fa_icon 'pencil-square-o' %>
        <% end %>
        <%= link_to [:admin, event], method: :delete, title: t('.delete'), class: 'btn-delete', data: { confirm: t('.delete-confirm') } do %>
          <%= fa_icon 'trash' %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
