<h1>GURU-PR</h1>

<% if @next_event %>
  <h2>The next event</h2>

  <h3><%= link_to @next_event.name, @next_event %></h3>
  <p>
    <strong>Date</strong> <%= @next_event.occurred_at %>
  </p>
  <p>
    <strong>Local</strong> <%= @next_event.local %> (<%= link_to 'mapa', "https://www.google.com.br/maps/search/#{@next_event.address}", target: '_blank' %>)
  </p>
  <p>
    <strong>Description</strong> <%= @next_event.description %>
  </p>
<% end %>
