<h1><%= link_to @event.name, @event %></h1>
<p>
  <strong>Date</strong> <%= @event.occurred_at %>
</p>
<p>
  <strong>Local</strong> <%= @event.local %> (<%= link_to 'mapa', "https://www.google.com.br/maps/search/#{@event.address}", target: '_blank' %>)
</p>
<p>
  <strong>Description</strong> <%= @event.description.html_safe %>
</p>
