<!DOCTYPE html>
<html>
<head>
  <title>Gurupr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<ul>
  <li><a href="/#members">Members</a></li>
</ul>

<ul>
  <% if user_signed_in? %>
  <li><%= link_to 'Logout', logout_path, method: :delete %></li>
  <% else %>
  <li><%= link_to 'Join', join_path %></li>
  <% end %>
</ul>

<%= yield %>

</body>
</html>
